<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
  </head>
  <body>
    <div class="parent">
      <form action="/issueBook" method="POST">
        <p>Book no: <input type="text" name="call" /></p>
        <p>Student ID: <input type="text" name="id" /></p>
        <p>Student Name: <input type="text" name="name" /></p>
        <p>Student Contact: <input type="text" name="contact" /></p>
        <p><input type="submit" value="Issue Book" class="btn" /></p>
      </form>
    </div>
  </body>
</html>
