<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: 20px 140px;
        width: 80%;
      }

      td,
      th {
        border: 2px solid #c5c1c1;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Book Callno</th>
          <th>Name</th>
          <th scope="col">Author</th>
          <th scope="col">Publisher</th>
          <th scope="col">Quantity</th>
          <th>Added Date</th>
        </tr>
      </thead>
      {% for book in books %}
      <tr>
        {% for cell in book %}
        <td>{{cell}}</td>
        {% endfor %}
        <!-- <td>{{book[call_no]}}</td>
        <td>{{book['name']}}</td>
        <td>{{book[author]}}</td>
        <td>{{book[publisher]}}</td>
        <td>{{book[quant]}}</td> -->
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
